@if(sessionService.getSession()){
  @if(games){
    <div class="d-flex">
      <nav class="nav-lib list">
          <ul class="nav flex-column">
            @if(games){
              <li class="nav-item">
                <a class="nav-link active d-flex" href="new-game">
               <p class="p-2">Añadir juego</p>
              </a>
              </li>
              @for(game of games; track $index){
                <li class="nav-item">
                  <a class="nav-link active d-flex" (click)="selectGame(game)">
                    <p class="p-2">{{game.name}}</p>
                  </a>
                </li>
              }
            }
          </ul>
      </nav>
          @if(selectedGame){
            <div class="d-flex justify-content-between" style="width: 100vw;">
              <nav class="nav-lib game">
                <ul class="nav flex-column">
                  @for(data of dataIndexList; track $index){
                    <li class="nav-item game d-flex justify-content-between">
                      <a class="item" style="width: 200px; text-align: center; padding-top: 5px;" href="parameter/{{selectedGame.id}}/{{data.name}}">
                        {{data.name}}
                      </a>
                      <a class="item" (click)="deleteParameter(data.name, selectedGame.id)"><img src="/assets/delete.svg" width="40px"></a>
                    </li>
                  }
                  <li class="nav-item game d-flex justify-content-between">
                    <app-new-parameter [game]="selectedGame"></app-new-parameter>
                  <li class="nav-item game d-flex justify-content-between"></li>
                </ul>
              </nav>
              <div style="padding: 50px;">
                <h3>Cambiar archivos de juego</h3>
                <input type="file" (change)="onFileSelected($event)">
                <button class="btn btn-success d-flex row" (click)="updateGameFiles()">Cambiar archivos</button>
                <button class="btn btn-danger d-flex row" (click)="deleteGame(selectedGame)"><p class="p-2">Eliminar juego</p></button>
              </div>
              <div class="image-wraper">
                <img src="../../../assets/logo/logo.png" style="max-height: 70vh;">
              </div>
            </div>
          }@else{
            <h3>Seleccione un juego para ver sus parámetros</h3>
          }
    </div>
  }
}@else {
  <app-session-init-require></app-session-init-require>
}
