.list .nav-item:hover{
  cursor: pointer;
  background-color: #5893c4;

}
.nav-lib.list{
  background-color: #406c91;
  height: 91vh;
  min-width: 300px;
}

.nav-lib.game{
  min-width: 300px;
  max-width: 300px;
  padding: 50px;
}

.item:hover {
  cursor: pointer;
  background-color: #5893c4;
}

.game.nav-item{
  background-color: #406c91;
  border-bottom: 3px solid #243e53;
}

a{
  text-decoration: none;
  color: white!important;
  font-size: 20px;
}

.image-wraper{
  overflow: hidden; max-height: 91vh; max-width: 700px; border: 20px solid #406c8f;
}
