*{
    color: white;
}

.list .nav-item:hover{
  cursor: pointer;
  background-color: rgb(46, 0, 83);

}
.nav-lib.list{
  background-color: rgb(23, 0, 49);
}

.item:hover {
  cursor: pointer;
  background-color: rgb(190, 0, 127);
}

.game.nav-item{
  background-color: rgb(134, 0, 101);
}
