<h1>
  ¡Descubre y Prueba Nuevos Juegos!
</h1>

<app-search-bar [items]="this.gameNames" (selectedFilter)="filterGames($event)"></app-search-bar>


<div class="container-fluid d-flex align-items-center">
  @if(filtered.length > 3){
    <input class="slider-button slider-btn-left" type="image" (click)="previousGame()" src="../../assets/left-arrow.svg">
  }
<div class="container d-flex justify-content-around card-container">
  @for (game of filtered; track $index) {
    @if($index < 3){
      <a href="game-page/{{game.name}}">
        <div class="game-card">
          <h5 class="game-title">{{game.name}}</h5>
          <img class="game-img" src="../../../assets/logo/logo.png" alt="Card image cap">
          <p class="game-text">{{game.description}}</p>
        </div>
      </a>
    }
  }

  </div>
  @if(filtered.length > 4){
    <input class="slider-button slider-btn-right" type="image" (click)="nextGame()" src="../../../assets/right-arrow.svg">
  }
</div>
