body{
  background-color: blueviolet;
}
h1{
  text-align: center;
  padding: 40px;
}
*{
  color: white;
}
.card-text{
  height: 80px;
  overflow: auto;
}
.card{
  background-color: blueviolet;
}

.right{
  width: 100vw;
  align-items: right;
}

.slider-button{
  background-color: #3b58a7;
  border-radius: 50%;
  border-color: #3b58a7;
  width: 60px;
  height: 60px;
}

.slider-btn-left{
  position: relative;
  right: -60px;
}
.slider-btn-right{
  position: relative;
  left: -60px;
}

div.search-box *{
  color: black;
}
