
<div class="container">
  @if(forum){
    <h1>{{forum.name}}</h1>
    <app-search-bar [items]="postTitles" (selectedFilter)="filterPosts($event)" (selectedOption)="goToPost($event)"></app-search-bar>
    <div class="wraper">
      @if(sessionService.getSession()){
        <a href="forum/{{forum.id}}/create_post">Crear post</a>
      }@else {
        <p>Debe iniciar sesión para poder crear un nuevo post, <a href="log-in">pulse aqui para iniciar sesión</a></p>
      }
      <ul class="list-group">
        @for (post of filtered; track $index) {
        <a class="list-group-warper" href="forum/{{forum.id}}/{{post.id}}"><li class="list-group-item">{{post.title}}</li></a>
        }
      </ul>
    </div>
  }
</div>
