.image-wraper{
  overflow: hidden;
  height: 91vh;
  width: 700px;
  max-width: 700px;
  border: 20px solid #406c8f;
  background-color: #406c8f;
  text-align: center;
  position: sticky;
  right: 0;
}

img{
  width: 500px;
  max-width: 500px;
}


button{
  margin: 10px;
}
