
@if(post){
  <div class="d-flex justify-content-center">
    <div class="container back-container">
      <div class="post">
        <strong class="header"><span>{{post.username}}</span> <span>{{post.date}}</span></strong>
        <h1>{{post!.title}}</h1>
        @if(post.hasImage){
          <h1><img [src]="getPostImageUrl()" alt="Imagen" width="200px"></h1>
        }
        <p class="content">{{post!.content}}</p>
      </div>

      <div class="comments">
        @if(sessionService.getSession()){
          <textarea type="text" #comment placeholder="Escribe un comentario" rows="2" cols="100"></textarea><button class="btn btn-primary" (click)="postComment(comment.value)">Publicar</button>
        }@else {
          <p>Debe iniciar sesión para poder hacer comentarios, <a href="log-in">pulse aqui para iniciar sesión</a></p>
        }
        @for (comment of comments; track $index) {
          <ul class="list-group">
            <li class="list-group-item">
              <strong class="header"><span>{{comment.username}}</span> <span>{{comment.date}}</span></strong>
              <p>{{comment.content}}</p>
            </li>
          </ul>
        }
      </div>
    </div>
  </div>
}
