@if(!sessionService.getSession()){
  <app-session-init-require></app-session-init-require>
}@else {
  <div class="container p-5">
        <div class="row">
          <div class="col">
            <app-upload-image></app-upload-image>
          </div>
          <div class="col">
            <img [src]="getProfileImageUrl()" alt="Imagen" width="200px">
          </div>
          <div class="col">
            <h1>{{sessionService.getSession()?.username}}</h1>
            <textarea cols="50" rows="10" [value]="sessionService.getSession()?.description" #description>{{sessionService.getSession()?.description}}</textarea>
            <button (click)="uploadDescription(description.value)">Subir descripción</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button (click)="sessionService.closeSession()">Cerrar Sesión</button>
            <button (click)="sessionService.closeSession()">Eliminar Cuenta</button>
          </div>
        </div>
  </div>
}
