@if(!sessionService.getSession()){
  <app-session-init-require></app-session-init-require>
}@else {
  <div class="container p-5">
        <div class="row">
          <div class="col">
            <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
            <button (click)="fileInput.click()">Seleccionar imagen</button>
            <button (click)="uploadImage()">Subir imagen</button>
          </div>
          <div class="col">
            <img [src]="sessionService.getSession()?.picture" alt="Imagen">
          </div>
          <div class="col">
            <h1>{{sessionService.getSession()?.username}}</h1>
            <textarea>{{sessionService.getSession()?.description}}</textarea>
            <button (click)="uploadDescription()">Subir descripción</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button (click)="sessionService.closeSession()">Cerrar Sesión</button>
            <button (click)="sessionService.closeSession()">Eliminar Cuenta</button>
          </div>
        </div>
  </div>
}
