@if(!sessionService.getSession()){
  <app-session-init-require></app-session-init-require>
}@else {
  <div class="container d-flex flex-column w-25">
    <img [src]="imageUrl" alt="Imagen">
    <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
    <button (click)="fileInput.click()">Seleccionar imagen</button>
    <button (click)="uploadImage()">Subir imagen</button>

    <button (click)="sessionService.closeSession()">Cerrar Sesión</button>

    <button (click)="sessionService.closeSession()">Eliminar Cuenta</button>
  </div>
}
