<h1>
  ¡Descubre y Prueba Nuevos Juegos!
</h1>

<div class="right d-flex justify-content-end p-5">
  <input size="40" type="text" placeholder="Filter by city" #filter>
  <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button>
</div>


<div class="container-fluid d-flex align-items-center">
<input class="slider-button slider-btn-left" type="image" (click)="previousImage()" src="../../assets/left-arrow.svg">
<div class="container d-flex justify-content-around">
  @for (image of images; track $index) {
    @if($index < 3){
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{image.src}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{image.alt}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    }
  }
  </div>
  <input class="slider-button slider-btn-right" type="image" (click)="nextImage()" src="../../assets/right-arrow.svg">
</div>
