
<div class="container">
  <h1>Creación de foro</h1>
  <div class="d-flex flex-column p-1" id="post">
  <input class="title" type="text" placeholder="Título del foro" #title>
  <hr>
  <textarea cols="60" rows="10" placeholder="Descripción del foro" #description></textarea>
  <div>
  </div>
  <input type="file" (change)="onFileSelected($event)">
  </div>
  <button class="btn btn-success" (click)="submitForum(title.value, description.value)">Crear nuevo foro</button>
  @if(showError){
    <p style="color: red;">Por favor, ponga título, descripción e imagen al foro</p>
  }
</div>
