@if(!sessionService.getSession()){
  <app-session-init-require></app-session-init-require>
}@else {
  <div class="d-flex">
    <nav class="nav-lib" style="width: 300px;height: 100vw;">
    <ul class="nav flex-column">
      @for(game of games; track $index){
        <li class="nav-item">
          <button class="nav-link active d-flex" (click)="this.selectedGame=game"><img src="{{game.src}}" width="40px" height="35px"><p class="p-2">{{game.name}}</p></button>
        </li>
      }
      </ul>
    </nav>



      <ul class="nav flex-column">
        @if(dataList.gameName == selectedGame.name){
          @for(parameter of dataList.parameters; track $index){
            <a href="parameter/{{parameter.name}}">
            <li class="nav-item">
              {{parameter.name}}
            </li>
            </a>
          }
        }
        <a href="new-parameter"><li>Crear nuevo parámetro</li></a>
      </ul>


  </div>


}
